{% extends 'base.html' %}
{% block content %}
<div class="form-config">
    <div class="container">
        <div class="row">
            <div class="offset-3 col-md-6">
                <h2 class="form-title">用户注册</h2>
                <form method="POST" action="{{ reverse_url("login") }}" class="form-input-file"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="username">用户名:</label>
                        <input type="text" class="form-control" name="username" id="username" required>
                    </div>

                    <div class="form-group">
                        <label for="email">电子邮箱</label>
                        <input type="email" id="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="password">密码:</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                    </div>
                    <div class="form-group">
                        <label>上传头像</label>
                            <input class="input-file form-control" type="file" name="image" id="image">
                            <label for="add-image" class="input-file-info label-info text-dark ml-3">还未选择文件(可选)</label>
                    </div>
                    <div class="form-group">
                        <label for="">说点什么吧</label>
                        <textarea type="text" class="form-control"></textarea>
                    </div>
                    <div class="form-group mt-4">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-info" href="/login">已有账号? 登录</a>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-block btn-info" href="/" type="submit">注册</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% end %}